* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Zilla Slab", "serif";
}

.box-container {
    width: 70%;
    margin: 0 auto;
}

.header {
    margin: 30px 0 20px 0;
}
#input {
    height: 50px;
    width: 100%;
    padding: 0 0 0 20px;
    /* border: 2px solid black; */
    font-size: 20px;
    margin-bottom: 20px;
}
#input:focus{
    background-color: #e8eaec;

}
.btn {
    width: 220px;
    height: 48px;
    font-size: 25px;
    cursor: pointer;
    border-radius: 15px;
    background-color: #A2A9AF;
    color: aliceblue;
}

.li {
    border: 1px solid black;
    margin-bottom: 5px;
    font-size: 25px;
    padding-left: 50px;
}
.btn-container {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 20px;
}
